<div class="home_container">
  <app-card gameCover="assets/bt-5.jpg" gameLabel="Digital" gamePrice="R$ 299,90" gameType="Action/FPS"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusive" gamePrice="R$ 199,99" gameType=" Action/FPS"></app-card>
  <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gamePrice="R$ 299,90" gameType="Action/FPS"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="Exclusive" gamePrice="R$ 199,99" gameType=" Action/FPS"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Exclusive" gamePrice="R$ 199,99" gameType=" Action/FPS"></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="Exclusive" gamePrice="R$ 199,99" gameType=" Action/FPS"></app-card>
</div>
