<div class="home_container">
  <app-card gameCover="assets/imgs/GOW_Ragnarok_cover.jpg" gameLabel="Exclusive" gameTitle="Play it Now" gamePrice="R$ 349,90" gameType="	Action-adventure, Hack and Slash"></app-card>
  <app-card gameCover="assets/imgs/Stray_cover.jpg" gameLabel="Digital" gameTitle="Play it Now" gamePrice="R$ 149,50" gameType="Adventure"></app-card>
  <app-card gameCover="assets/imgs/Horizon_Forbidden_West_cover.jpg" gameLabel="Exclusive" gameTitle="Coming Soon" gamePrice="R$ 349,90" gameType="Action role-playing"></app-card>
  <app-card gameCover="assets/imgs/Valkyrie_Elysium_cover.jpg" gameLabel="Digital" gameTitle="Coming Soon" gamePrice="R$ 299,90" gameType="Action role-playing"></app-card>
  <app-card gameCover="assets/imgs/The_Last_of_Us_2_cover.jpg" gameLabel="Exclusive" gameTitle="Play it Now" gamePrice="R$ 199,90" gameType="Action-adventure"></app-card>
  <app-card gameCover="assets/imgs/Hogwarts_Legacy_cover.jpg" gameLabel="Digital" gameTitle="Coming Soon" gamePrice="R$ 299,90" gameType="Action role-playing"></app-card>
</div>
